{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED') %}
        <li>Bonjour {{ app.user.pseudo }}</li>
    {% endif %}

    <div class="blague">
        <h2>Blague du jour : </h2>
        <p>{{ blague }} </p>
    </div>

    <div class="bienvenue">
        <h1 class="titre">Bienvenue sur Sortie.com</h1>

        <p class="text_sortie"> Sortie.com est une plateforme de ENI dédiée à la création d'expériences inoubliables pour les équipes et les groupes. Nous vous offrons une variété de sorties passionnantes et enrichissantes, idéales pour renforcer l'aventure et la cohésion entre les participants.

            Sur Sortie.com, chaque stagiaire a la possibilité de proposer des sorties. Vous êtes libre de vous inscrire à toutes les activités qui vous intéressent et de découvrir des expériences uniques créées par vos collègues. Nous garantissons des moments palpitants et émouvants, conçus pour enrichir vos interactions et créer des souvenirs mémorables.

            Rejoignez-nous et vivez des aventures exceptionnelles avec Sortie.com !</p>
    </div>
    <div>
        <h2 class="mb-3">Présentation ENI </h2>
        <p>Avec plus de 40 ans d’existence, ENI Ecole Informatique est une école dédiée à l’informatique, offrant des formations reconnues par l’État de niveau Bac +2 à Bac +5. </p>
        <br>
        <h5>ENI ÉCOLE en quelques chiffres</h5>
        <div class="eni mb-4">
            <ul class="modi_ul mt-4">
                <li class="modi_li taill_li"> 5 </li>
                <li class="modi_li"> Campus </li>
            </ul>
            <ul class="modi_ul mt-4">
                <li class="modi_li taill_li"> 2000  </li>
                <li class="modi_li"> Apprenants en 2023 </li>
            </ul>
            <ul class="modi_ul mt-4">
                <li class="modi_li taill_li"> 1000 </li>
                <li class="modi_li"> Entreprises partenaires en 2023 </li>
            </ul>
        </div>
        <a href="https://www.eni-ecole.fr/"><p class="button-vert">Plus info sur l'école</p></a>

    </div>

    <br>


{% endblock %}

