{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h1>Bienvenue sur Sortie.com</h1>
    <br>

    <div> Blague du jour : {{ blague }}</div>
    <br>
    <div>Veuillez vous connecter</div>
    <p>Retour API : {{ retourApi }} </p>


{% endblock %}

