

<h1>Hello  {{ participant.pseudo}}  😭</h1>

<h2> Annulation sortie ☠️ ☠️ ☠️ ☠️ ☠️ ☠️    </h2>

<p>
    L' administrateur de Sortir.com vous informe que la sortie : {{ sortie.nom}} qui devait commencer le {{ sortie.dateDebut |date('d-m-Y H:i:s')}} a été annulée . <br><br>


<p>
    Cordialement



    L' équipe de Sortir.com
</p>

<img class="sortirLogo"  src="{{asset('images/sortirLogo.png') }}">
