

<h1>Vous etes viré  {{ participant.pseudo}} !!!!!!!!!!!!! 😭</h1>

<h2> Ah Ah Ah..... ☠️ ☠️ ☠️ ☠️ ☠️ ☠️    </h2>

<p>
    L' administrateur de Sortir.com vous informe que vous n' est plus inscrit à la sortie : {{ sortie.nom}} qui commencera le {{ sortie.dateDebut |date('d-m-Y H:i:s')}} . <br><br>


<p>
   Cordialement



    L' équipe de Sortir.com
</p>

<img class="sortirLogo"  src="{{asset('images/sortirLogo.png') }}">
