

<h1>Hello </h1>

<p>
    Sortir.com vous confirme  votre inscription à la sortie {{ sortie.nom}} qui commencera le {{ sortie.dateDebut |date('Y-m-d H:i:s')}} <br><br>


    vous serez accompagner de :



   Cordialement
</p>

<p>
    Cheers!
</p>

<img class="sortirLogo"  src="{{  asset('images/sortirLogo.png') }}">
