<form method="post" action="{{ path('_suppressionSortie', {'idSortie': sortie.id}) }}" onsubmit="return confirm('Voulez-vous supprimer la sortie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
    <button class="btn btn-outline-danger btn-sm">&#x1F5D1;</button>
</form>
