{% extends 'base.html.twig' %}

{% block title %}New Sorties{% endblock %}

{% block body %}
    <h1>Creer une sortie</h1>

    {{ include('sorties/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('app_sorties_index') }}">Retour &#x2B90;</a>
{% endblock %}
