/* la base de css */

html, body {
    margin: 0;
    padding: 0;

    /*     height: 100%;    */
}

body, tbody {
    background: #FFFFFF;
    /* background-color: wheat;*/
}

a {
    color: inherit;
    text-decoration: none;
}

.link_button{
    border: 2px solid blueviolet;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 30% 5%;
}

a:hover {
    color: #1aaa92;
}


img {
    max-width: 100%;
    min-width: 140px;
}


h1, h2, h3, h4 {
    margin-top: 0;
    color:  #1aaa92;
}

h5{
    color: #6c757d;
    line-height:2rem
}

/*
==========================================
============== Header ====================
==========================================
*/

.position{
    position: relative;
    margin-top: 50px;
}

.logoPosition{
    position: absolute;
    top:10px;
    left:30px;
    width : 70px;
    z-index: 7;
}


nav {
     width: 100%;
     background-color : #ee7915;
     height: 50px;
}


nav div {
    display: flex;
    Align-content:center;
    align-items:center;
}

nav ul {
    display: flex;
    justify-content:flex-end;
    list-style: none;
    padding-left: 0;
}


nav li {
    margin-right: 1rem; /*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*/
    font-weight: bolder;
}

.img_main{
    width: 100%;
}

.login{
    margin-top: 14px;
    margin-right: 150px;
    color:antiquewhite;
    font-weight: 300;

}

.login_authenticated{
    margin-right: 4rem;
    margin-top: 0.5rem;
    padding:5px;
    color:antiquewhite;
    font-weight: 300;
}


.form-filtre{
    width: 40%;
}

/*
.sortirLogo {
    position: relative;
    width : 80px;
    top: 20px; left:40px;
}
 */

.button-vert {
    background-color:  #1aaa92;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}


.divblue {
    background-color : #1aaa92;
    height: 5px;
}



/*
==========================================
============== main ====================
==========================================
*/

main {
    /*display : table;*/
    margin: auto;
    max-width: 80%;
}


.bienvenue{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.taill_li{
    font-size: 2rem;
    color: #6c757d;
}


.modi_li{
    list-style-type: none;
    text-align: center;
}



.eni{
    display: flex;
    justify-content: space-around;

}

.table td {
    text-align: center;
}

.tabledetail {
    table-layout: auto;
    width: 100%;
}
/*

.gif {
    position: relative;
    top: 1px; left:3px;
    width : 15px;
    height : 50px;
    opacity: 0.2;
}

*/

.previous {
   /*background-color: #f1f1f1;*/
    /*color: black;*/
}

.next {
    margin-right: 2rem;
}


.toto{
    color:darkred;
}

.pagination{
    margin-bottom: 50px;
}

.userPhoto{
    height: 300px;
}

.blague{
    color:  #1aaa92;
    margin-bottom: 0;
    text-align: end;
}

.titre{
    margin-bottom: 2rem ;
    color : #1aaa92;
}

.text_sortie{
    line-height:2rem
}

/* login     */
.modif-width{
    width: 35%;
}

/* sortie     */
.filter-container {
    border: #0f6674 1px;
    display: flex;
    justify-content: left; /* Sépare les deux colonnes */
    align-items: flex-start; /* Aligne en haut les deux colonnes */
    margin-top: 15px;
    border-bottom: #6c757d;
}

.gauch {
    flex: 0.7; /* Colonne gauche prend plus de place */
    margin-right: 5px;
}
.sortie {
    flex: 0.5; /* Colonne droite plus petite */
    display: flex;
    flex-direction: column;
    gap: 2px; /* Espacement entre les cases à cocher */
    margin-right: 25rem;
}

.filter-container div {
    /* border: 1px solid #ccc; *//* Optionnel : bordures pour mieux visualiser */
    padding: -5px;
    border-radius: 5px;

}


.button_filtre{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: -6rem;
    padding: 10px 20px;
    background-color: #1aaa92;
    margin-top: 0.4rem;
}

.button-right{
    float: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.h2-Sortie{
    margin-top: 4rem;
}


    /*
    ==========================================
    ============== footer  ====================
    ==========================================
    */



footer {
    /*-position: absolute;*/
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #1aaa92;
    color: #fff;
    width: 100%; height: 50px;
    left: 0;
    right: 0;
}


/*
.footer_parent{
    position: relative;
}
 */



/*
==========================================
============== A supprimer  ====================
==========================================
*/


 /*
 body > .container {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 
 }
  */
/*
 main {
      flex: 1;
 }
 */





/*
 body {
     display : table;
     width: 100%;
 }
 */


/*
 .container {

     max-width: 1200px;
     margin: auto;
     padding: 5px;
 }
 */